<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: boots_trap">
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>

<body>
    <div class="container col-md-8 mt-lg-5">
        <div th:replace="fragments :: nav_bar"></div>
        <div class="row mt-2">
            <div th:if="${param.not_found}" class="col-sm-8">
                <p class="alert alert-danger alert-dismissible">Không tìm thấy người dùng có email này</p>
            </div>

            <div th:if="${param.success}" class="col-sm-8">
                <p class="alert alert-info">
                    Chúng tôi đã gửi link xác thực tới email của bạn, vui lòng kiểm tra để hoàn thành yêu cầu
                </p>
            </div>
        </div>

        <h3 class="m-lg-5">Quên mật khẩu</h3>
        <form th:action="@{/registration/forgot-password}" method="post" class="px-4">
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="email" name="email" required autofocus="autofocus">
                </div>
                <div class="mb-3 col-sm-4">
                    <button type="submit" class="btn btn-success">Xác thực email</button>
                </div>
            </div>
        </form>
</body>

</html>