<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: boots_trap">
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<body>
    <div class="container offset-sm-2 col-md-8 mt-lg-5">
        <div th:replace="fragments :: nav_bar"></div>
        <div th:if="${param.reset_success}" class="col-sm-8">
            <p class="alert alert-info">Đặt lại mật khẩu thành công, đăng nhập lại tại đây</p>
        </div>

        <div class="row mt-2">
            <form th:action="@{/registration/reset-password}" method="post" class="px-4 mt-lg-5">
                <input type="hidden" name="token" th:value="${token}">
                <h2 class="mb-4">Đặt lại mật khẩu</h2>

                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Mật khẩu mới</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" id="password" name="password" required
                            placeholder="Mật khẩu mới" autofocus="autofocus">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="confirm" class="col-sm-2 col-form-label">Xác nhận lại mật khẩu</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="confirm" name="confirm" required
                            placeholder="Xác nhận lại mật khẩu" autofocus="autofocus"
                            oninput="checkConfirmPassword(this)">
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" name="login" id="login" class="btn btn-success">Đặt lại mật khẩu</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const checkConfirmPassword = () => {
            const password = document.querySelector("input[name=password]");
            const confirm = document.querySelector("input[name=confirm]");
            confirm.value === password.value ? confirm.setCustomValidity("") : confirm.setCustomValidity("Mật khẩu xác nhận lại không trùng khớp")
        }
    </script>
</body>

</html>