<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment :: boots_trap">
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
    <div class="container col-md-offset-3 col-md-8 mt-lg-5">
        <div th:switch="${users}">
            <h2 th:case="null">Không có người dùng nào</h2>
            <div th:case="*">
                <h2>Tất cả người dùng</h2>
                <table class="table table-bordered table-hover text-center align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Tên</th>
                            <th scope="col">Họ</th>
                            <th scope="col">Email</th>
                            <th colspan="2">Khác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td><a href="#">Chỉnh sửa</a></td>
                            <td><a href="#">Xóa</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="#" th:href="@{/registration/registration-form}">Thêm người dùng mới</a></p>
        </div>
    </div>
</body>

</html>